.shareBackground {
	background-image: url("../img/GenericBackground2.jpg");
	text-align: center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-bottom: 52px;
}

.shareWrapper {
	display: inline-block;
	width: 660px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: left;
}

.share {
	display: block;
	width: 640px;
	margin: 0 auto;
	padding: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
}

.addComment {
	display: block;
}

.share textarea {
	resize: none;
}

.shareAuthor {
	width: 100%;
	height: 50px;
}

.shareAuthorImage {
	display: inline-block;
	height: 100%;
}

.shareAuthorImage img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 75px;
}

.shareAuthorText {
	display: inline-block;
	height: 100%;
	margin-left: 10px;
	margin-bottom: 10px;
}

.shareAuthorText span {
	height: 50%;
	margin: auto;
	display: block;
}

.shareAuthorName {
	font-weight: bold;
}

.shareAuthorDescription {
	color: #808080;
	font-size: .8em;
}

.shareText {
	padding: 25px 0px;
}

.shareLikes {
	display: inline-block;
	margin-right: 20px;
	margin-left: 5px;
}

.shareLikeCount {
	display: inline-block;
	margin-left: 5px;
}

.shareCommentsIcon {
	display: inline-block;
}

.shareCommentsIcon div {
	display: inline-block;
	margin-left: 5px;
}

.shareLikesAndComments {
	margin-left: 
}

.userInteractions {
	padding: 10px 5px;
}

.comment {
	background-color: #F0F0F0;
	border-radius: 10px;
	margin: 10px 0px;
	padding: 5px 10px;
}

/* Style comment span - you need to add dates to comments */
.commentContent {
	width: 80%;
}

.commentDate {
	color: 	#606060;
	font-size: .8em;
	float: right;
}

/* Style comment submit button */
.submitComment {

}

.addComment {
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-radius: 5px;
    padding: 2px;
}