.book {
	width: 50%;
	margin: 0 auto;
	padding: 5px 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.bookPreview {
	max-width: 100%;
}

.bookThumbnail {
	min-height: 100%;
	width: 30%;
	display: inline-block;
	margin-right: 10px;
}

.bookDescriptors {
	display: inline-block;
	width: 67%;
}

.bookDescriptors a {
	display: block;
}