.booksWrapper {
	text-align: center;
}

.booksBackground {
	width: 1322px;
	display: inline-block;
}

.book {
	width: 1300px;
	margin: 0 auto;
	padding: 5px 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	background-color: #f9f9f9;
	vertical-align: top;
}

.first {
	margin-top: 100px;
}

.bookPreview {
	max-width: 100%;
	min-width: 350px;
}

.bookThumbnail {
	min-height: 100%;
	width: 360px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1.33em;
	vertical-align: top;
}

.bookDescriptors {
	display: inline-block;
	width: 900px;
}

.bookDescriptors a {
	display: block;
}

.bookDescriptors h4 {
	margin-bottom: 0;
}

.bookDescriptors p {
	margin-top: 5px;
}

.bookLanguage {
	display: inline-block;
	margin-top: 5px;
	margin-right: 20px;
}