.errorMessage {
	color: red;
	white-space: pre-line;
}

.adminForm div {
	margin-top: 20px;
}

.adminForm button {
	margin-top: 20px;
}

.adminForm label {
	margin-right: 5px;
}

.adminWrapper {
	display: inline-block;
	margin-top: 100px;
	margin-left: 20px;
}