.blogBackground {
	background-image: url("../img/GenericBackground1.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.blogWrapper {
	display: inline-block;
	margin-top: 100px;
}

.blog {
	margin: 0 auto;
	padding: 5px 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.preview {
	width: 50%;
	margin-bottom: 10px;
}

.previewTitle {
	font-weight: bold;
}

.postTitle {
	font-weight: bold;
}

.blogPost {
	width: 75%;
}

.blogWrapper button {
	margin-left: 3%;
}

.blogPreviewTitle {
	width: 50%;
	margin: 0 auto;
	color: white;
	text-shadow: 2px 2px #000000;
	text-align: center;
}