.aboutPortrait {
	width: 45%;
	margin-right: 5%;
	display: inline-block;
}

.aboutPortrait img {
	max-height: 100%;
	max-width: 100%
}

.aboutContent {
	width: 50%;
	display: inline-block;
}

.aboutWrapper {
	width: 75%;
	margin: 0 auto;
}